# Python Basics Week 1

Week one topics: 
- Jupyter Notebooks
- Operators
- Print()
- Variable Assignment
- Data Types
- Input()
- Commenting

## Jupyter Notebooks

A Jupyter Notebook is a type of interactive development environment (IDE) that allows you to write and run Python code. Jupyter Notebooks also allow you to include formatted text (through Markdown) and even embed links, images, and other media in the notebook alongside your code.

These notebooks use the file extension .ipynb (as opposed to a python script, .py)

By default, new cells are `code cells`. Use the dropdown menu on the toolbar at the top of the notebook to change a cell to a Markdown cell. Go to Help -> Markdown Reference to get a helpful cheat sheet for formatting text in Markdown.

You can click and drag to the left of the cell to reorder cells in your notebook.

Click the add cell buttons (next to the trash can) to add a cell above or below your current cell. (or, press ESC and then B to add a new cell below, A for a new cell above)

Press shift + enter to run a cell (note to R users - command/ctrl + enter runs the cell but does not automatically create a new cell below). You can also use the play button on the toolbar at the top.

## Operators

Operators are symbols, combinations of symbols, or keywords that designate some type of computation. There are a number of different operators used in Python. The most recognizable are the arithmetic operators: +, -, *, /, ** and %

In [ ]:
40 + 3 + 2  # addition

In [ ]:
25 - 21  # subtraction

In [ ]:
3*4  # multiplication

In [ ]:
20/6  # division produces quotients as floating point numbers - we will talk about the different numeric types in a bit

In [ ]:
20//6  # floor division returns a quotient rounded down to the nearest whole number (think of this as the whole number of times that the divisor fits into the dividend)

In [ ]:
20%6  # the modulo operator returns the remainder after dividing two numbers

In [ ]:
# Arithmetic operators also work with complex numbers:
10/5j

### Order of Operations

Python's order of operations is similar to what you might have learned in school, with a few tweaks. 

- Parentheses have the highest precedence, so when in doubt put it in parens! 
- Exponentiation has the next highest precedence. 
- Multiplication, division, floor division, and the modulo have equal precendence
- Addition/subtraction have the lowest precendence of the aritmetic operators.

### Comparison Operators

In [ ]:
# The equality operator returns a boolean (True/False) value
42 == 42

In [ ]:
# Not equal to:
42 != 40

In [ ]:
# Less than (and greater than)
32 < 38

In [ ]:
# Less than or equal to (and greater than or equal to)
32 <= 88

**Important** : If you work with decimal (floating point) numbers, be aware that computers will do funky things with decimals (especially infinitely repeating decimals) and you may not get the result you expect if you use the comparison operators to compare floating point numbers. See [this link](https://realpython.com/python-numbers/#make-python-lie-to-you) for further reading.

## The Print Function

Traditionally, the first thing you learn to do when learning a computer language is learn how to display the words "Hello world!". Fortunately, Python makes this quite straightforward:

In [ ]:
print('Hello world!')

The `print()` function will display whatever is shown inside the parentheses to the right of the word `print`. We put *Hello world* in quotation marks (double or single) to tell Python that we are displaying text. The quotation marks around our text are not displayed.

Calculations can be performed inside of `print()`:

In [ ]:
print(4+3)

We can print multiple things by separating them with commas. The result will print on one line.

In [ ]:
print("20 divided by 6 is", 20//6, "with remainder", 20%6)

## Variable Assignment

Variables are (explanation of what a variable is)

Variables in Python scripts have to follow certain rules:
1. The variable cannot start with a number
2. Variables are case-sensitive
3. Variable names cannot contain special characters like !, @, #, * - only a-z, A-Z, 0-9, and the underscore ( _ )

In addition to these rules, there are a few conventions that are typically followed:
1. Variables are written in snake_case, though you may also see camelCasing
2. Contants (as opposed to variables) are written in all caps
3. Variables should be given short, descriptive names that are related to what they stand for

In [ ]:
# These are examples of valid variable names:
pet = "dog"
Pet = "cat"
peT = "snake"
_pet = "fish"
pet1 = "bird"

Just to drive home that capitalization matters in variable names:

In [ ]:
print(pet)

In [ ]:
print(Pet)

In [ ]:
# These are not valid variable names:
&pet = "dog"
1pet = "bird"

### Assigning and Reassigning Variables

I think of a variable like a box that can hold a value. However, the box can only hold one value at a time. Reassigning the value of a variable removes the old value and will replace it in all instances where the variable is used.

Variables are assigned using the assignment operator: =

In [ ]:
first_name = "Shelby"
age = 30
height = 63.5

Variables must be assigned before they can be used (i.e. you need to run the cell before the variable can be used in other places). If a variable doesnâ€™t exist yet, or if the name has been mispelled, Python reports an error:

In [ ]:
print(last_name)

Variables persist between cells in a notebook. The value of the variable comes from the cell which has been run the most recently, not necessarily from the order of the cells in the notebook. 

It can be helpful to use Kernel -> Restart & Run All to clear the interpreter and run everything from a clean slate going from top to bottom.

To reassign the value of a variable, you can use the same variable name and the assignment operator to assign a new value:

In [ ]:
print(first_name)  # first_name has an existing value of "Shelby"

In [ ]:
first_name = "Alex"  # here we reassign the value of first_name to "Alex"
print(first_name)

### Variables can be used in calculations

In [ ]:
print("Age in three years:", age + 3)

In [ ]:
height * 2.54  # height in cm

## Data Types

So far, you have seen three different types of data: strings, integers, and floating point (or decimal) numbers. 

- Strings are sequences of characters (in many cases, a "string" of letters, but numerals can also be strings)
- Integers and floating point numbers (or "floats") are both numerical data types.

You can determine the data type of an expression or variable using the `type()` function:

In [ ]:
type(52)

In [ ]:
type(4.4)

In [ ]:
type("Shelby")

Arithmetic operations can be performed with both integers and floats since they are both numeric:

In [ ]:
new_number = 52 + 4.4
print(new_number, type(new_number))

However, you cannot perform arithmetic operations with both numeric and non-numeric data:

In [ ]:
4.4 + "Shelby"

We will learn more about operations with strings next week.

### Changing data types

You can use the `int()`, `float()`, and `str()` functions to change an object's data type:

In [ ]:
float(52)

In [ ]:
int(4.4)

In [ ]:
int("1")

In [ ]:
str(42)

In [ ]:
# You can't, however, change alpha characters into numerics:
int("one")

## The Input Function

You can assign a variable value by prompting input from a user using the `input()` function. This can be helpful for values that might change each time you run the script.

In [ ]:
name = input("What is your name?")
print("Good morning,", name)

One thing that is important to note is that inputted data is always interpreted as string data. You may need to convert the data to make it useful to you.

In [ ]:
CURRENT_YEAR = 2024
birth_year = input("What year were you born?")
print("You are", CURRENT_YEAR - birth_year, "years old.")

Why didn't that work?

In [ ]:
type(birth_year)

What can we change to fix this?

In [ ]:
CURRENT_YEAR = 2024
birth_year = int(input("What year were you born?"))
print("You are", CURRENT_YEAR - birth_year, "years old.")

## Commenting

You can add comments to code as helpful explanations and reminders by using the # symbol. 

Comments can appear on their own line by starting the line with a #.

In [ ]:
# Mass in g
mass = 3.85

Comments can also be made "inline" as part of a line that also contains executable code. Anything that appears on the same line after a # counts as a comment, meaning it is not read and executed as part of the code.

In [ ]:
mass = 3.85  # mass in g